In [32]:
import os
os.listdir()

['.ipynb_checkpoints',
 'bezdekIris.data',
 'Index',
 'iris.data',
 'iris.names',
 'Jupyter1.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets-semi-colons_nohead.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [8]:
import pandas as pd
csv_contents = pd.read_csv("supermarkets.csv")
print(csv_contents)

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20

In [3]:
import pandas as pd
json_contents = pd.read_json("supermarkets.json")
print(json_contents)

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20

In [5]:
import pandas as pd
excel_contents = pd.read_excel('supermarkets.xlsx')
print(excel_contents)

   ID          Address           City             State Country  \
0   1     3666 21st St  San Francisco          CA 94114     USA
1   2   735 Dolores St  San Francisco          CA 94119     USA
2   3      332 Hill St  San Francisco  California 94114     USA
3   4     3995 23rd St  San Francisco          CA 94114     USA
4   5  1056 Sanchez St  San Francisco        California     USA
5   6  551 Alvarado St  San Francisco          CA 94114     USA

  Supermarket Name  Number of Employees
0          Madeira                    8
1      Bready Shop                   15
2      Super River                   25
3       Ben's Shop                   10
4          Sanchez                   12
5       Richvalley                   20

In [8]:
import pandas as pd
excel_contents = pd.read_csv('supermarkets-commas.txt')
print(excel_contents)

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20

In [10]:
import pandas as pd
excel_contents = pd.read_csv('supermarkets-semi-colons.txt', sep=';')
print(excel_contents)

   ID          Address           City             State Country          Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA       Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA   Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA   Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA    Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA       Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA    Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20

In [31]:
import pandas as pd
excel_contents = pd.read_csv('supermarkets-semi-colons_nohead.txt', sep=';', header = None)
excel_contents.columns = ["ID", "Adress", "City", "State", "Country", "Name", "Employees"]
excel_contents.set_index(["Adress"], inplace=True)
print(excel_contents)

                 ID           City             State Country          Name  \
Adress
3666 21st St      1  San Francisco          CA 94114     USA       Madeira
735 Dolores St    2  San Francisco          CA 94119     USA   Bready Shop
332 Hill St       3  San Francisco  California 94114     USA   Super River
3995 23rd St      4  San Francisco          CA 94114     USA    Ben's Shop
1056 Sanchez St   5  San Francisco        California     USA       Sanchez
551 Alvarado St   6  San Francisco          CA 94114     USA    Richvalley

                 Employees
Adress
3666 21st St             8
735 Dolores St          15
332 Hill St             25
3995 23rd St            10
1056 Sanchez St         12
551 Alvarado St         20